<div class="container">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://www.creative-tim.com">
            Creative Tim
          </a>
        </li>
        <li>
          <a href="https://creative-tim.com/presentation">
            About Us
          </a>
        </li>
        <li>
          <a href="http://blog.creative-tim.com">
            Blog
          </a>
        </li>
        <li>
          <a href="https://www.creative-tim.com/license">
            Licenses
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>, made with <i class="material-icons">favorite</i> by
      <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
    </div>
  </div>
    <!--   Core JS Files   -->
    <script src="static/js/core/jquery.min.js"></script>
    <script src="static/js/core/popper.min.js"></script>
    <script src="static/js/core/bootstrap-material-design.min.js"></script>
    <script src="static/js/plugins/perfect-scrollbar.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chartist JS -->
    <script src="static/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="static/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="static/js/material-dashboard.js?v=2.2.2" type="text/javascript"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->